{% extends "base.html" %}

{% block content %}

<div class="about-container">

    <h1>About GlowCare</h1>

    <p>
        GlowCare is a skincare e-commerce platform designed to help users find
        the right products based on skin concerns and ingredients.
    </p>

    <h2>Features</h2>

    <ul>
        <li>Shop by Skin Concern (Acne, Dry Skin, Pigmentation)</li>
        <li>Shop by Ingredients (Vitamin C, Niacinamide, etc.)</li>
        <li>Product Reviews System</li>
        <li>Cart & Checkout System</li>
        <li>Personalized Product Discovery</li>
    </ul>

    <h2>Technology Used</h2>

    <ul>
        <li>Flask (Backend)</li>
        <li>MySQL (Database)</li>
        <li>HTML, CSS (Frontend)</li>
        <li>JavaScript (Cart functionality)</li>
    </ul>

</div>

{% endblock %}a