{% extends "base.html" %}

{% block content %}

<section class="max-w-5xl mx-auto px-4 py-10">

    <div class="bg-white rounded-2xl shadow-lg p-6 sm:p-10">

        <h1 class="text-3xl sm:text-4xl font-bold text-red-600 mb-5">
            About GlowCare
        </h1>

        <p class="text-gray-700 text-base sm:text-lg leading-8 mb-8">
            GlowCare is a skincare e-commerce platform designed to help users find
            the right products based on skin concerns and ingredients.
        </p>

        <div class="grid md:grid-cols-2 gap-8">

            <div class="bg-red-50 rounded-xl p-5">
                <h2 class="text-2xl font-bold text-gray-900 mb-4">
                    Features
                </h2>
<ul class="space-y-3 text-gray-700">
    <li>
        <i class="bi bi-check-circle-fill text-green-500 me-2"></i>
        Shop by Skin Concern
    </li>

    <li>
        <i class="bi bi-check-circle-fill text-green-500 me-2"></i>
        Shop by Ingredients
    </li>

    <li>
        <i class="bi bi-check-circle-fill text-green-500 me-2"></i>
        Product Reviews System
    </li>

    <li>
        <i class="bi bi-check-circle-fill text-green-500 me-2"></i>
        Cart & Checkout System
    </li>

    <li>
        <i class="bi bi-check-circle-fill text-green-500 me-2"></i>
        Personalized Product Discovery
    </li>
</ul>
            </div>

            <div class="bg-gray-50 rounded-xl p-5">
                <h2 class="text-2xl font-bold text-gray-900 mb-4">
                    Technology Used
                </h2>

                <ul class="space-y-3 text-gray-700">
                    <li><i class="bi bi-gear-fill"> </i>Flask Backend</li>
                    <li><i class="bi bi-database-fill"> </i>MySQL Database</li>
                    <li><i class="bi bi-code-slash"> </i>HTML + Tailwind CSS</li>
                    <li><i class="bi bi-cart-check-fill"> </i>JavaScript Cart Functionality</li>
                </ul>
            </div>

        </div>

    </div>

</section>

{% endblock %}